<% total_mins = card.time_entries.sum { |entry| entry.duration || 0 } %>
<% if total_mins > 0 %>
  <div class="card__meta-text card__meta-text--time txt-dim" title="Total time logged">
    <%= icon_tag "clock" %>
    <%= TimeEntry.format_duration(total_mins) %>
  </div>
<% end %>
