<%= turbo_frame_tag "project_picker" do %>
  <%= tag.div class: "max-width full-width", data: {
        action: "turbo:before-cache@document->dialog#close",
        dialog_target: "dialog" } do %>
    <div class="flex align-start justify-space-between">
      <strong class="popup__title">Choose a project…</strong>
    </div>

    <%= form_with model: @card, url: card_project_path(@card), method: :patch, class: "flex-column gap-half margin-block-half" do |form| %>
      <div class="field">
        <%= form.collection_select :project_id, Current.account.projects.order(:name), :id, :name, { include_blank: "No Project", selected: @card.project_id }, { class: "input full-width", onchange: "this.form.requestSubmit()" } %>
      </div>
    <% end %>
  <% end %>
<% end %>
